<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:replace="~{admin/layouts/layout-admin :: layout(~{::main})}">
<body>

  <main id="main" class="main">

    <div th:replace="~{admin/fragments/fragment-page-title :: pageTitle}"></div>

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">
            <th:block th:each="visitor : ${visitors}">
              <div th:replace="~{admin/fragments/fragment-card-visitors :: visitorCard(${visitor})}"></div>
            </th:block>
          </div>
        </div><!-- End Left side columns -->

      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div th:replace="~{admin/fragments/fragment-datatable :: datatable(${table})}"></div>
          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->
</body>
</html>
