<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:replace="~{admin/layouts/layout-admin :: layout(~{::main})}">
<body>
  <main id="main" class="main">

    <div th:replace="~{admin/fragments/fragment-page-title :: pageTitle}"></div>

    <div th:replace="~{admin/fragments/fragment-form :: form(${formElements})}"></div>

    <div th:replace="~{admin/fragments/fragment-datatable :: datatable(${table})}"></div>
    <th:block th:if="${hasDetails}">
      <div th:replace="~{admin/fragments/fragment-datatable :: datatable(${detailTable})}"></div>
    </th:block>

    <div th:replace="~{admin/fragments/fragment-modal-form :: modalForm(${formElements})}"></div>

  </main><!-- End #main -->
</body>
</html>
