<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<script th:inline="javascript" th:fragment="util">
    /*<![CDATA[*/

    // 페이지 속성
    const pageName = [[${pageName}]];
    const pageId = pageName.toString().toLowerCase();
    const editable = [[${editable}]];
    const deletable = [[${deletable}]];
    const hasDetails = [[${hasDetails}]];

    // 버튼 컴포넌트 정의
    const detailsButton = "<button type=\"button\" class=\"btn btn-light\" onclick=\"getDetails(this)\">조회</button>";
    const editButton = "<button type=\"button\" class=\"btn btn-ligit\" data-bs-toggle=\"modal\" data-bs-target=\"#" + pageName + "Modal\" onclick=\"openEdit(this)\"><i class=\"bi bi-pencil\"></button>"
    const deleteButton = "<button type=\"button\" class=\"btn btn-ligit\" onclick=\"deleteRecord(this)\"><i class=\"bi bi-x-square\"></button>"


    // 데이터테이블 초기화
    var table = [[${table}]];
    var datatable = createDatatable(table.name, table.columns, table.records, editable, deletable, hasDetails);
    if (hasDetails) {
        var detailTable = [[${detailTable}]]
        detailDatatable = createDatatable(detailTable.name, detailTable.columns, detailTable.records, false, false, false);
    }

    function createDatatable(tableName, tableColumns, tableRecords, editable, deletable, hasDetails) {

        var tableId = "#" + tableName;

        // 편집 가능할 경우 컬럼 및 버튼 추가
        if (editable) {
            tableColumns.push("edit")
            tableRecords.forEach(list => list.push(editButton))
        }

        // 삭제 가능할 경우 컬럼 및 버튼 추가
        if (deletable) {
            tableColumns.push("delete")
            tableRecords.forEach(list => list.push(deleteButton))
        }

        // 상세 데이터 포함일 경우 컬럼 및 버튼 추가
        if (hasDetails) {
            tableColumns.push("details")
            tableRecords.forEach(list => list.push(detailsButton))
        }

        return new simpleDatatables.DataTable(tableId, {
            data: {
                "headings": tableColumns,
                "data" : tableRecords
            }
        });
    }
    /*]]>*/
</script>
</body>
</html>
