<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<script th:inline="javascript" th:fragment="util">
    /*<![CDATA[*/

    // 페이지 속성
    const pageName = [[${pageName}]];
    const pageId = pageName.toString().toLowerCase();
    const editable = [[${editable}]];
    const deletable = [[${deletable}]];
    const hasDetails = [[${hasDetails}]];

    // 버튼 컴포넌트 정의
    const detailsButton = "<button type=\"button\" class=\"btn btn-light\" onclick=\"getDetails(this)\">조회</button>";
    const editButton = "<button type=\"button\" class=\"btn btn-ligit\" data-bs-toggle=\"modal\" data-bs-target=\"#" + pageName + "Modal\" onclick=\"openEdit(this)\"><i class=\"bi bi-pencil\"></button>"
    const deleteButton = "<button type=\"button\" class=\"btn btn-ligit\" onclick=\"deleteRecord(this)\"><i class=\"bi bi-x-square\"></button>"


    // 데이터테이블 초기화
    var table = [[${table}]];
    var datatable = createDatatable(table.name, table.columns, table.records, editable, deletable, hasDetails);
    if (hasDetails) {
        var detailTable = [[${detailTable}]]
        detailDatatable = createDatatable(detailTable.name, detailTable.columns, detailTable.records, false, false, false);
    }

    var detailRows = null;
    if (hasDetails) {
        detailRows = {
            "detail": document.getElementsByClassName("detail")[0].cloneNode(true),
            "modalDetail": document.getElementsByClassName("modalDetail")[0].cloneNode(true),
        }
    }

    function createDatatable(tableName, tableColumns, tableRecords, editable, deletable, hasDetails) {

        var tableId = "#" + tableName;

        // 편집 가능할 경우 컬럼 및 버튼 추가
        if (editable) {
            tableColumns.push("edit")
            tableRecords.forEach(list => list.push(editButton))
        }

        // 삭제 가능할 경우 컬럼 및 버튼 추가
        if (deletable) {
            tableColumns.push("delete")
            tableRecords.forEach(list => list.push(deleteButton))
        }

        // 상세 데이터 포함일 경우 컬럼 및 버튼 추가
        if (hasDetails) {
            tableColumns.push("details")
            tableRecords.forEach(list => list.push(detailsButton))
        }

        return new simpleDatatables.DataTable(tableId, {
            data: {
                "headings": tableColumns,
                "data": tableRecords
            }
        });
    }

    /**
     * Detail Form Element 추가
     */
    function addDetail(className) {
        var elements = document.getElementsByClassName(className);
        var lastElement = elements[elements.length - 1];
        lastElement.insertAdjacentElement("afterend", detailRows[className].cloneNode(true));
    }

    /**
     * 신규 데이터 저장
     */
    function save() {

        // 요청 데이터 세팅
        var target = "." + pageName + "FormElement"; // .IntroductionFormElement
        var body = createRequestBodyJson(target);
        if (hasDetails) {
            addDetailsToRequest(body, "detail");
        }

        var urlPath = getUrlPathFrom(pageName);
        var url = "/admin/api" + urlPath;

        httpRequest("POST", url, body, true);
    }

    /**
     * Form에서 JSON 생성
     */
    function createRequestBodyJson(target) {
        var body = {};
        var formElements = getFormElements(target);
        formElements.forEach(element => body[element.name] = element.value);

        return body;
    }

    /**
     * Form Element 조회
     */
    function getFormElements(target) {
        var selector = target + " input, " + target + " select";

        return document.querySelectorAll(selector);
    }

    /**
     * Request Body에 details 추가
     */
    function addDetailsToRequest(body, className) {
        body["details"] = [];
        var details = document.querySelectorAll("." + className);
        for (let i = 0; i < details.length; i++) {
            var detail = {}
            var detailFormElements = details[i].querySelectorAll("input, select");
            detailFormElements.forEach(detailFormElement => {
                if (detailFormElement.value != null && detailFormElement.value.trim().length > 0) {
                    detail[detailFormElement.name] = detailFormElement.value;
                }
            });

            if (Object.keys(detail).length > 0) {
                body["details"].push(detail);
            }
        }
    }

    /**
     * 페이지명을 URL 포맷으로 변경
     */
    function getUrlPathFrom(pageName) {
        const splits = pageName.replace(/([A-Z])/g, " $1").trim().split(" ")

        var refined = "";
        for (let i = 0; i < splits.length; i++) {
            refined += "/";
            refined += splits[i].charAt(0).toLowerCase() + splits[i].slice(1) + "s";
        }

        return refined;
    }

    /**
     * HTTP 통신
     */
    function httpRequest(method, url, body, reload) {
        var xhr = new XMLHttpRequest();
        xhr.open(method, url, true);
        xhr.setRequestHeader("content-type", "application/json");
        xhr.send(JSON.stringify(body));
        xhr.onload = () => {
            if (xhr.response != "") {
                alert(xhr.response);
            }
            if (reload) {
                location.reload();
            }
        }

        return xhr;
    }

    /**
     * 편집 Modal 열기
     */
    function openEdit(element) {

        var data = element.parentElement.parentElement.children;

        var target = "." + pageName + "ModalFormElement"; // .IntroductionFormElement
        var modalFormElements = getFormElements(target);
        for (let i = 0; i < modalFormElements.length; i++) {
            modalFormElements[i].value = data[i].innerHTML
        }

        if (hasDetails) {
            var id = modalFormElements[0].value;

            var url = "/admin/api/" + pageId + "s/" + id + "/details";

            var xhr = httpRequest("GET", url, null, false)
            xhr.onload = () => {
                var response = JSON.parse(xhr.response);
                var records = response["records"];

                var allElements = document.getElementsByClassName("modalDetail");
                var lengthToDelete = allElements.length;

                var start = (records.length == 0) ? -1 : 0;
                for (let i = start; i < records.length; i++) {
                    var row = detailRows["modalDetail"].cloneNode(true);
                    var lastElement = allElements[allElements.length - 1];
                    lastElement.insertAdjacentElement("afterend", row);

                    if (i >= 0) {
                        let elements = row.querySelectorAll("input, select");
                        for (let j = 0; j < elements.length; j++) {
                            elements[j].value = records[i][j];
                        }
                    }
                }

                for (let i = 0; i < lengthToDelete; i++) {
                    allElements[0].remove();
                }
            }
        }
    }

    /**
     * 편집 완료
     */
    function completeEdit() {

        // 요청 데이터 세팅
        var target = "." + pageName + "ModalFormElement"; // .IntroductionFormElement
        var body = createRequestBodyJson(target);
        if (hasDetails) {
            addDetailsToRequest(body, "modalDetail");
        }

        var id = body["id"];
        var url = "/admin/api/" + pageId + "s/" + id;

        httpRequest("PUT", url, body, true);
    }

    function getDetails(element) {

        var id = element.parentNode.parentNode.firstElementChild.innerHTML;

        var url = "/admin/api/" + pageId + "s/" + id + "/details";

        var xhr = httpRequest("GET", url, null, false);
        xhr.onload = () => {
            var rows = Array.from({length: detailDatatable.data.data.length}, (v, i) => i);
            detailDatatable.rows.remove(rows);

            var response = JSON.parse(xhr.response);

            var newData = {
                "headings": response["columns"],
                "data": response["records"]
            };
            detailDatatable.insert(newData);

            return;
        }
    }

    /**
     * 데이터 삭제
     */
    function deleteRecord(element) {
        var id = element.parentNode.parentNode.firstElementChild.innerHTML;
        var confirmed = confirm("[" + id + "] 데이터를 삭제하시겠습니까?");

        if (confirmed) {
            var url = "/admin/api/projects/skills/" + id;
            httpRequest("DELETE", url, null, true);
        }
    }

    /*]]>*/
</script>
</body>
</html>

