<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<section class="section" th:fragment="datatable(table)">
  <div class="row">
    <div class="col-lg-12">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title" th:text="${table.name}">Datatables</h5>

          <!-- Table with stripped rows -->
          <table id="datatable" th:id="${table.name}">

          </table>
          <!-- End Table with stripped rows -->

        </div>
      </div>

    </div>
  </div>
</section>
</body>
</html>
